{% extends 'base.html' %}

{% block content %}
{% include 'partials/breadcrumbs.html' with mode="service_flow" show_services=True category=category %}
<section class="services-section py-5 text-center">

    <h2 class="section-title mb-5">The Category's Services</h2>

    <div class="container">
        <div class="row g-4">

            {% for service in services %}

            <div class="col-md-4">
                    <a href="{% url 'booking:service_detail' service.id %}" class="text-decoration-none">
                    <div class="service-card" style="background-image: url('{{ service.image.url }}');">

                        <div class="overlay">

                            <h4>{{ service.name }}</h4>

                            <p>{{ service.description|truncatewords:12 }}</p>

                            <p><strong>{{ service.price }} MAD</strong></p>

                            <p>{{ service.duration }} min</p>

                        </div>

                    </div>
                    </a>
            </div>

            {% endfor %}

        </div>
    </div>

</section>
{% include "pagination.html" with page=page_obj %}
{% endblock %}